@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-primary: "Poppins", sans-serif;
    --font-secondary: "Roboto", sans-serif;
}


/* Notificação Toast */

/* Container que segura as notificações no canto da tela */
.toast-container {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9999;
}

/* Estilo base do Toast */
.toast {
    min-width: 250px;
    padding: 15px 20px;
    margin-bottom: 10px;

    border-radius: 8px;
    color: #5a3e1b;
    font-family: var(--font-primary);

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    animation: slideIn 0.5s ease forwards;
    opacity: 0;
}

/* Cores de sucesso e erro */
.toast.success {
    background-color: #f5e6c8;
    border-top: 5px solid #5a3e1b;
}

.toast.error {
    background-color: #e74c3c;
    border-top: 5px solid #c0392b;
}

/* Animação de entrada */
@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Classe para sumir suavemente */
.toast.fade-out {
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.5s ease;
}


/*-------- Body -------*/
body {
    background-color: #f9fafd;
    color: #5e6e82;
    margin: 0;
    font-family: var(--font-primary);
}

/* Sidebar */
.sidebar {
    width: 15.625rem;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    background: #fff;
    border-right: 1px solid #edf2f9;
    z-index: 1000;
    padding: 0.5rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.26);
    font-weight: 500
}

.sidebar .nav-link {
    color: #5e6e82;
    border-radius: 0.375rem;
}

.sidebar .nav-link:hover {
    background-color: #f8f9fa;
    color: #2c7be5;
}

.sidebar .nav-link.active {
    color: #2c7be5;
    background-color: rgba(44, 123, 229, 0.08);
}

/* Conteúdo */
.content {
    margin-left: 240px;
}

/* Cards */
.card {
    border: none;
    border-radius: 12px;
}

.btn {
    background-color: #2c7be5;
    color: white;
}

.btn:hover {
    color: white;
    background-color: #276bc4;
}

.excluir {
    background-color: #e01600;
}

.excluir:hover {
    background-color: #c21300;
}

.row-sair {
    margin-top: 1.2rem;
    border-bottom: 1px solid rgb(197, 197, 197);
}

.logo {
    margin-bottom: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img{
    width: 80px;
}